<!DOCTYPE html>
<html>
<head>
  <title>Business Management System</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <div class="container">
    <h1>Business Management System</h1>

    <p>
      This system helps business owners manage products, billing,
      expenses, and profit analysis in one place.
    </p>

    <a href="/login">
      <button>Go to Login</button>
    </a>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/particles.js"></script>

<div id="particles-js"></div>

<script>
particlesJS("particles-js", {
  particles: {
    number: { value: 100 },
    size: { value: 3 },
    move: { speed: 2 },
    color: { value: "#00bfff" }
  }
});
</script>


</body>
</html>
